<div class="row mt-4">
    <div *ngFor="let eventId of eventsData.data.event_ids">
        <div class="container border py-5">
            <div class="row">
                <div class="col-8">
                    <div class="row">
                        <div class="col-7">
                            <div class="text-left">
                                7 tickets
                                <div class="d-flex">
                                    <div>i1 & instructor</div>
                                    <div class='px-2'>icon</div>
                                </div>
                            </div>
                            <div class='d-flex'>
                                <div class='d-flex'>
                                    <span>icon</span>
                                    <span class='px-2'>livestream</span>
                                </div>
                                <div class='d-flex'>
                                    <span class='px-2'>icon</span>
                                    <span>4.62 (29)</span>
                                    <span class='px-2'>icon</span>
                                    <span>1</span>
                                </div>
                            </div>
                            <div>
                                <div class='d-flex'>
                                    <span>icon</span>
                                    <span class='px-2'>fri 04/01/22</span>
                                    <div class='d-flex'>
                                        <span>icon</span>
                                        <span class='px-2'>06:45 pm</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-5'>
                            <div class='text-left'>
                                <div>$ 18.00</div>
                                <div class='d-flex'>
                                    <span>icon</span>
                                    <span>7</span>
                                </div>
                            </div>
                            <button class="btn btn-danger">reserve</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>